@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents the "bounce" effect on Mac/iOS */
  }
  
  body {
    @apply antialiased text-gray-800 bg-gray-100;
    /* iOS specific fixes to prevent zooming and elastic scrolling */
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    overscroll-behavior: none;
    position: fixed; /* Locks the body in place */
  }
}

@layer utilities {
  /* Safe Area for iPhone X+ Home Bar */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  /* Utility to hide scrollbars but allow scrolling */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Ensure canvas doesn't capture scrolling gestures */
canvas {
  touch-action: none;
}